* {
    box-sizing: border-box;
}
body {
    font-size: 16px;
    color: rgba(0, 0, 0, .87);
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    height: 100vh;
}
nav {
    padding: 30px;
}
.topbar {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: white;
    padding: 15px;
}

.topbar nav {
    display: flex;
    justify-content: space-evenly;
}

.topbar nav a {
    color: #9f9f9f;
    text-decoration: none;
    font-weight: 500;
}

.topbar nav a:hover, .topbar nav a.active {
    color: black;
}

.bannière {
    height: 300px;
    background: no-repeat center center / cover url(img/salle.jpeg)
}
.infos h1  {
    padding: 20px;
}

/* formulaire? */

.button-login {
    padding: 5px ;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    background-color: #9f9f9f;
    color: black;
    font-size: 1.7vw;
}

.button-sign-up {
    padding: 5px ;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    border: none;
    background-color: #9f9f9f;
    color: black;
    font-size: 1.7vw;
}

.button-sign-up:hover {
    color: black;
    background-color: #9f9f9f ;
}

.button-login:hover {
    color: black;
    background-color: #9f9f9f;
}

.tableau {
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
details {
    border: 1px solid lightgrey;
}

table,td {
    border: 1px solid #333;
}

thead {
    background-color: #333;
    color: #fff;
}

iframe {
    position: relative;
    display: flex;
    justify-content: center;
}

