* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: rgba(0, 0, 0, .87);
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
}
nav {
    padding: 31px;
}
.topbar {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: white;
    padding: 15px;
}

.topbar nav {
    display: flex;
    justify-content: space-evenly;
}

.topbar nav a {
    color: #9f9f9f;
    text-decoration: none;
    font-weight: 500;
}

.topbar nav a:hover, .topbar nav a.active {
    color: black;
}

/*.topbar .social {
    float: right;
    display: flex;
}

/*@media (max-width: 1000px){
    .topbar {
        position: relative;
    }
}
img {
    width: 12%;
    height: 20px;
    object-fit: cover;
    object-position: left;
}*/
.banniere {
    height: 200px;
    background: no-repeat center center / cover url(etoile.jpeg);
    text-align: center;
}
 h1{
    color: #9f9f9f;
    text-align: center;
    padding-top: 35px;
}

.main {
    float: left;
    background: white;
    width: calc(100px - 375px);
}

.sidebar {
    float: right;
    width: 375px;
    background: #fbfbfb;
    padding: 40px;
    
}

.sidebar-title {
    font-size: 3vw;
    color: black;
    margin-bottom: 35px 0;
}

.sidebar-title:first-child{
    margin-top: 0;
}
.sidebar a {
    color: #9f9f9f;
    text-decoration: none;
    list-style: none;
    font-size: 1.5vw;
}
.sidebar a:hover{
    color: black;
}
.sidebar ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 17px;
    line-height: 2.3;
}

/*footer {
        height: 47px;
        background-color: #9f9f9f
        font-size: 8px;
        text-align: center;
}*/

/* Article de la page Poemes */
 

.first {
    display: flex;
    justify-content: flex-end;
    text-align: justify;
    width: 50%;
}
.second {
    display: flex;
    justify-content: flex-end;
    text-align: justify;
    width: 50%;
}
