<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les poèmes</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header class="topbar">
        <nav>
            <a href="index.html">Le blog</a>
            <a href="poemes.html" class="active">Les poèmes</a>
            <a href="plus.hmtl">Plus +</a>
            <a href="publier.html">Publier</a>
        </nav>
        <!--<div class="social">
            <a href="#"><img src="fb2.jpeg" tittle="Facebook"></a>
        </div>//-->
    </header>
    <article class="first">
        <p>C'est l'odeur du matin <br>Dans tes pensées que je me perds <br>c'est dans la joie et l'excitations que <br>Que je prends mon envole <br>Et dans tes yeux que je vis <br>Dans les yeux des gens qui m'ont aimé que je m'épanouis <br>c'est dans les regards fuyant que j'empathis <br>dans la colère, que j'apperçois la vérité.</p>
        <h6>Eléna Fontaine 2022</h6>
    </article>
    <article class="second">
        <h4>C'est</h4>
        <p>C'est la réalité des photos qui sont sur mon coeur que je veux <br> Cette réalité seule, elle seule, et rien d'autre <br>Mon coeur le repète sans cesse comme une bouche d'orateur et le redit<br> A chaque battement <br>Toutes les autres images du monde sont fausses <br>Elles n'ont pas d'autre apparence que celle des fantômes <br>Le monde singulier qui m'entoure métallique végétal <br>Souterrain <br>O vie qui aspire le soleil matinal <br>Cet univers singulièrement orné d'artifices <br>N'est-ce point quelque oeuvre de sorcellerie <br>Comme on pouvait l'étudier autrefois <br>A Tolède <br>Où fut l'école diabolique la plus illustre <br>Et moi j'ai sur moi un univers plus précis plus certain <br>Fait à ton image</p>
        <h6>Gauillaume Appolinaire 1915</h6>
    </article>
</body>
</html>